[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'

[scripts]
p1 = 'python ./p1/MNISTStarter.py'
p2 = 'python ./p2/notMNISTStarter.py'
p3 = 'python ./p3/CHDModel.py'
predict = 'python ./predict.py'
'predict:test' = 'python ./predict_test.py'
grabimage = 'python ./grabimage.py'
interactive = 'python ./interactive.py'

[packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"
Pillow = "*"
pyscreenshot = "*"
jupyter = "*"
pylint = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"
